@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply bg-gradient-to-r from-primary-100 to-tertiary-200;
}

/* modern theme */
@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand.ttf");
  font-display: swap;
}
